.canvas {
    position: fixed;
    z-index: -100;
}

.header-section .heading {
    color: var(--secondary);
    font-size: 18px;
}

.header-section .sub-heading {
    color: var(--lightest-slate);
    font-size: 28px;
    font-weight: 700;
}

.scroll-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-40%);
    color: var(--light-slate);
    opacity: 50%;
    animation-name: scroll-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scroll-info .fa-angles-down {
    font-size: 10px;
    margin-top: 10px;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    border-right: 1px solid rgb(255, 255, 255, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--navy);
    height: 100vh;
    width: 95px;
    font-size: 22px;
    color: var(--light-slate);
    animation-name: neonEntry;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-delay: 1s;
    z-index: 100;
    left: 0;
    top: 0;
}

.social-icon {
    z-index: 100;
}

.social-icon:not(:first-child) {
    margin-top: 30px;
}

.social-icon:hover {
    color: var(--lightest-slate);
    cursor: pointer;
}

@keyframes scroll-animation {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 45px;
    }
    100% {
        bottom: 50px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 115px);
    margin-left: 95px;
}

.my-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.name {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 90px;
    font-weight: 600;
}

.last-name {
    color: var(--secondary);
}

.description {
    width: min-content;
    color: var(--light-slate);
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
    white-space: nowrap;
}

.landing-container .primary-btn {
    margin-top: 25px;
    margin-right: 30px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 75px 150px 75px;
}

.about-us-container .header-section {
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    justify-content: left;
}

.info-container .img-container img {
    border-radius: 7px;
}

.info-container .info {
    text-align: left;
    color: var(--lightest-slate);
    font-size: 17px;
    margin-left: 50px;
}

.info-container .info p:not(:first-child) {
    font-size: 15px;
    color: var(--light-slate);
    margin-top: 5px;
}

.info-container .info p:not(:first-child)::before {
    font-family: 'FontAwesome';
    content: '\f0da';
    color: var(--light-slate);
    margin-right: 10px;
}

.technology-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

.technology-container .header-section {
    margin-right: 25px;
}

.technology-container .slider-container {
    margin-bottom: 34px;
    height: min-content;
}

.card-container {
    position: relative;
    height: auto;
}

.single-technology {
    background-color: transparent;
    padding: 25px;
    background-color: var(--light-navy);
}

.single-technology p {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.card-container .caption {
    font-size: 17px;
    margin-top: 15px;
    color: var(--light-slate);
    font-weight: 600;
}

.technology-container i {
    color: white;
}

.technology-container .header-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.slider-container {
    width: 70%;
    height: 400px;
    column-gap: 25px;
}
.slider-item {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    padding: 25px;
}

.card {
    border: 1px solid var(--secondary);
}

.slider-container .single-technology i {
    font-size: 150px;
}

.project-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 0px;
    height: 70%;
    width: 90%;
    overflow: scroll;
}

.project-container .header-section {
    margin-bottom: 35px;
}

.img {
    height: 300px;
    width: 350px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    row-gap: 25px;
}

.contact-container .header-section {
    margin-right: 40px;
}

.contact-container form {
    margin-right: 40px;
    margin-top: 15px;
}
.contact-container .form-control, .contact-container textarea {
    color: white;
}

.contact-container .form-control::placeholder, .contact-container textarea::placeholder {
    color: rgb(163, 163, 163);
}

.contact-container input, .contact-container textarea {
    background-color: rgb(48, 48, 48, 0.2);
}

.contact-container input:focus, .contact-container textarea:focus {
    background-color: rgb(48, 48, 48, 0.2);
}

.contact-container .primary-btn {
    margin-top: 25px;
}

@media only screen and (max-width: 900px) {
    .landing-container {
        text-align: center;
    }
    .social-container {
        border-top: 1px solid rgb(255, 255, 255, 0.2);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: fixed;
        top: unset;
        bottom: 33px;
        height: 70px;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        color: white;
        width: 100%;
        font-size: 17px;
        margin: 0;
        z-index: 1000;
    }

    .social-icon {
        height: min-content;
        font-size: 20px;
        margin: 0;
    }

    .social-icon:not(:first-child) {
        margin-top: 0;
    }

    .name {
        font-size: 70px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

    .text-container {
        margin-right: 0;
    }

    .landing-container .primary-btn {
        margin-right: 0;
    }

    .about-us-container {
        padding: 0;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .info-container .info {
        padding: 25px;
        margin-top: 50px;
        margin-left: 0;
        text-align: justify;
    }

    .contact-container form {
        width: 90vw;
        padding: 25px;
        margin-right: 0;
    }

    .name-group div:not(:first-child) {
        margin-top: 25px;
    }

    .contact-container form input {
        max-width: 100%;
    }
}

@media only screen and (max-width:500px) {
    .text-container .name {
        font-size: 55px;
    }

    .text-container .description {
        font-size: 22px;
    }

    .header-section {
        margin: 0;
    }

    .header-section .heading {
        font-size: 15px;
    }

    .header-section .sub-heading {
        font-size: 25px;
    }

    .contact-container .header-section {
        margin: 0;
    }
}