.canvas {
    position: fixed;
    z-index: -100;
}

.scroll-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-40%);
    color: var(--light-slate);
    opacity: 50%;
    animation-name: scroll-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scroll-info .fa-angles-down {
    font-size: 10px;
    margin-top: 10px;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    border-right: 1px solid rgb(255, 255, 255, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--navy);
    height: 100vh;
    width: 95px;
    font-size: 22px;
    color: var(--light-slate);
    animation-name: neonEntry;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-delay: 1s;
    z-index: 100;
    left: 0;
    top: 0;
}

.social-icon {
    z-index: 100;
}

.social-icon:not(:first-child) {
    margin-top: 30px;
}

.social-icon:hover {
    color: var(--lightest-slate);
    cursor: pointer;
}

@keyframes scroll-animation {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 45px;
    }
    100% {
        bottom: 50px;
    }
}

.content {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 115px);
    margin-left: 95px;
}

.my-section {
    height: 100vh;
}

.landing-container {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.text-container {
    border: 0px solid white;
    display: flex;
    opacity: 1;
    flex-direction: column;
    width: min-content;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 90px;
    font-weight: 600;
}

.last-name {
    color: var(--secondary);
}

.description {
    border: 0px solid white;
    width: min-content;
    color: var(--light-slate);
    font-size: 35px;
    margin-top: 15px;
    white-space: nowrap;
}

.landing-container .btn-primary {
    font-size: 18px;
    margin-top: 25px;
}

.technology-container {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.header-section {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.header-section .heading {
    color: var(--secondary);
    font-size: 25px;
}

.header-section .sub-heading {
    font-size: 40px;
}

.slider-container {
    border: 1px solid white;
    width: 70%;
    height: 400px;
    column-gap: 25px;
}
.slider-item {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: min-content;
    width: 200px;
    padding: 25px;
}

.card {
    border: 1px solid var(--secondary);
}

.slider-container .single-technology i {
    font-size: 150px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contact-container input, .contact-container textarea {
    background: transparent;
    color: white;
}

/* .contact-container p {
    color: white;
    font-size: 45px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.contact-container form {
    margin-left: 50px;
}

.contact-container textarea {
    height: 300px;
} */