.carousel-container {
    position: relative;
}

.carousel-wrapper {
    position: relative;
}

.my-carousel-item {
    position: absolute;
    color: white;
    flex-shrink: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

