.slider-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    height: min-content;
    width: min-content;
    padding: 0;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.slider-item {
    flex-shrink: 0;
}

.slider-left {
    position: sticky;
    top: 50%;
    left: 7%;
    color: white;
    z-index: 100;
}

.slider-right {
    position: sticky;
    top: 50%;
    left: 90%;
    color: white;
    z-index: 100;
}

.slider-right, .slider-left {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    background-color: gray;
    opacity: 0.5;
    padding: 10px 15px 10px 15px;
}

.slider-left:hover, .slider-right:hover {
    opacity: 1;
    cursor: pointer;
} 