.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    height: min-content;
    width: 100%;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-item {
    flex-shrink: 0;
}

.slider-left {
    position: sticky;
    top: 50%;
    left: 25px;
    color: white;
    z-index: 100;
}

.slider-right {
    position: sticky;
    top: 50%;
    right: 25px;
    z-index: 100;
}

.slider-right, .slider-left {
    border-radius: 50%;
    border: 1px solid gray;
    background-color: gray;
    opacity: 0.5;
    padding: 10px 15px 10px 15px;
}

.slider-left:hover, .slider-right:hover {
    opacity: 1;
    cursor: pointer;
} 